@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,800;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: 20px;
    align-content: center;
    margin: 0 auto;

    font-family: 'Nunito', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}


h1 {
    padding-top: 1.5em;
    color: cornflowerblue;
    font-size: 2.5em;
}

img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: cyan;
    padding: 50px;
    border: 10px solid cornflowerblue;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}